* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --colorGreen:  hsl(160deg, 100%, 30%);
  --colorGoldLighter: hsl(45deg, 100%, 50%);
  --colorGoldDarker: hsl(45deg, 100%, 40%);
  --colorBlack: hsl(0deg, 0%, 0%);
  --colorGrayVeryDark: hsl(0deg, 0%, 10%);
  --colorGrayDark: hsl(0deg, 0%, 30%);
  --colorGrayMedium: hsl(0deg, 0%, 40%);
  --colorGrayLight: hsl(0deg, 0%, 60%);
  --colorWhite: hsl(0deg, 0%, 100%);
  --textSizeSmall: 1rem;
  --textSizeMedium:  1.25rem;
  --textSizeLarge: 1.5rem;
  --textSizeXlarge:  2rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  padding: 32px 128px;
}

p {
  font-size: var(--textSizeSmall);
}

strong {
  color: var(--colorGreen);
}

header {
  border-bottom: 8px solid var(--colorGrayMedium);
}

section {
  background-color: var(--colorGrayLight);
}

.intro-chunk {
  padding: 16px;
  width: 50%;
}

.title {
  font-size: var(--textSizeXlarge);
}

.card {
  padding: 16px;
  background-color: var(--colorWhite);
  border-bottom: 8px solid var(--colorGrayMedium);
}

.indented-heading {
  margin-top: -8px;
  margin-left: -32px;
  font-size:  var(--textSizeLarge);
  padding:  16px 32px;
  background-color: var(--colorGoldLighter);
  max-width:  fit-content;
  border-bottom: 8px solid var(--colorGoldDarker);
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html, body {
    padding: 32px;
    padding-top: 0px;
    background-color: var(--colorGrayLight);
  }
  .max-width-wrapper {
    padding: 8px;
  }

  p {
    font-size: var(--textSizeSmall);
  }

  strong {
    color: var(--colorGreen);
  }

  header {
    background-color: var(--colorWhite);
    border-bottom: 8px solid var(--colorGrayMedium);
  }

  section {
    background-color: var(--colorWhite);
    border-bottom: 8px solid var(--colorGrayMedium);
  }

  main {
    margin-top: 64px;
  }

  .card {
    border-bottom: none;
  }

  .indented-heading {
    margin-left: -24px;
    padding:  16px 24px;
    background-color: var(--colorGoldLighter);
  }
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 768px) {
  html, body {
    padding: 64px;
    padding-top: 0px;
    background-color: var(--colorGrayLight);
  }
  .max-width-wrapper {
    padding: 8px;
  }

  p {
    font-size: var(--textSizeSmall);
  }

  strong {
    color: var(--colorGreen);
  }

  header {
    background-color: var(--colorWhite);
    border-bottom: 8px solid var(--colorGrayMedium);
  }

  section {
    background-color: var(--colorWhite);
    border-bottom: 8px solid var(--colorGrayMedium);
  }

  .intro-chunk {
    padding: 16px;
    width: 100%;
  }

  main {
    margin-top: 64px;
  }

  .card {
    border-bottom: none;
  }

  .indented-heading {
    margin-top: -16px;
    margin-left: -24px;
    padding:  16px 24px;
    background-color: var(--colorGoldLighter);
  }
}